.white{
  color: $white;
}
.dark-brown{
  color: $dark-brown;
}
.gold-brown{
  color: $gold-brown;
}
.red{
  color: $red;
}
.dark-blue{
  color: $dark-blue;
}
.bright-green{
  color: $bright-green;
}
.facebook{
  color: $facebook;
}
.instagram{
  color: $instagram;
}
.snapchat{
  color: $snapchat;
}
.whatsapp{
  color: $whatsapp;
}
.gray-lightest{
  color: $gray-lightest;
}
.gray-light{
  color: $gray-light;
}
.gray-medium{
  color: $gray-medium;
}
.gray-dark{
  color: $gray-dark;
}
.gray-darkest{
  color: $gray-darkest;
}


// Background
.bg-white{
  background-color: $white;
}
.bg-dark-brown{
  background-color: $dark-brown;
}
.bg-gold-brown{
  background-color: $gold-brown;
}
.bg-red{
  background-color: $red;
}
.bg-dark-blue{
  background-color: $dark-blue;
}
.bg-bright-green{
  background-color: $bright-green;
}
.bg-gray-lightest{
  background-color: $gray-lightest;
}
.bg-gray-light{
  background-color: $gray-light;
}
.bg-gray-medium{
  background-color: $gray-medium;
}
.bg-gray-dark{
  background-color: $gray-dark;
}
.bg-gray-darkest{
  background-color: $gray-darkest;
}
