.white{
  color: $white;
}
.dark-brown{
  color: $dark-brown;
}
.gold-brown{
  color: $gold-brown;
}


// Background
.bg-dark-brown{
  background-color: $dark-brown;
}
.bg-gold-brown{
  background-color: $gold-brown;
}
