// Utilities
// --------------------------------------------------

ul{
  margin: 0;
  padding: 0;
  @include font-size(16px);
  li{
    list-style: none;
  }
}
.pointer {
  cursor: pointer !important;
}
.no-pointer {
  cursor: default !important;
}
.vertical-align-content {
  @include vertical-align-content();
}
.break-word {
  word-wrap: break-word;
}

// Opacity
.transparent {
  opacity: 0.5;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}

// Positioning
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
  &.top{
    top: 0;
  }
}

// Alignment
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.align-middle {
  margin: auto 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.clear {
  float: none;
  clear: both;
}
.reset-grid-margins {
  margin-left: -15px;
  margin-right: -15px;
}

// Borders
.border {
  border: 1px solid $gray-light;
}
.border-top{
  border-top: 1px solid $gray-light;
}
.border-right {
  border-right: 1px solid $gray-light;
}
.border-bot{
  border-bottom: 1px solid $gray-light;
}
.border-left {
  border-left: 1px solid $gray-light;
}
.border-v{
  border-bottom: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
}
.border-h{
  border-right: 1px solid $gray-light;
  border-left: 1px solid $gray-light;
}
.border-none, .no-border {
  border: 0;
}

// Margins
.margin {
  margin: 20px;
}
.margin-top, .margin-top-20 {
  margin-top: 20px;
}
.margin-top-md, .margin-top-15 {
  margin-top: 15px;
}
.margin-top-sm, .margin-top-10 {
  margin-top: 10px;
}

.margin-bot, .margin-bot-20 {
  margin-bottom: 20px;
}
.margin-bot-md, .margin-bot-15 {
  margin-bottom: 15px;
}
.margin-bot-sm, .margin-bot-10{
  margin-bottom: 10px;
}

.margin-left, .margin-left-20 {
  margin-left: 20px;
}
.margin-left-md, .margin-left-15 {
  margin-left: 15px;
}
.margin-left-sm, .margin-left-10 {
  margin-left: 10px;
}

.margin-right, .margin-right-20 {
  margin-right: 20px;
}
.margin-right-md, .margin-right-15 {
  margin-right: 15px;
}
.margin-right-sm, .margin-right-10{
  margin-right: 10px;
}

.margin-v, .margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-v-md, .margin-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-v-sm, .margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-h, .margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-h-md, .margin-h-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-h-sm, .margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-top-reset {
  margin-top: 0;
}
.margin-bot-reset {
  margin-bottom: 0;
}
.margin-right-reset {
  margin-right: 0;
}
.margin-left-reset {
  margin-left: 0;
}
.no-margin {
  margin: 0;
}

// Padding
.padding {
  padding: 20px;
}
.padding-top, .padding-top-20 {
  padding-top: 20px;
}
.padding-top-md, .padding-top-15 {
  padding-top: 15px;
}
.padding-top-sm, .padding-top-10 {
  padding-top: 10px;
}

.padding-bot, .padding-bot-20 {
  padding-bottom: 20px;
}
.padding-bot-md, .padding-bot-15 {
  padding-bottom: 15px;
}
.padding-bot-sm, .padding-bot-10{
  padding-bottom: 10px;
}

.padding-left, .padding-left-20 {
  padding-left: 20px;
}
.padding-left-md, .padding-left-15 {
  padding-left: 15px;
}
.padding-left-sm, .padding-left-10 {
  padding-left: 10px;
}

.padding-right, .padding-right-20 {
  padding-right: 20px;
}
.padding-right-md, .padding-right-15 {
  padding-right: 15px;
}
.padding-right-sm, .padding-right-10{
  padding-right: 10px;
}

.padding-v, .padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-v-md, .padding-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-v-sm, .padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-h, .padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-h-md, .padding-h-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-h-sm, .padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-top-reset {
  padding-top: 0;
}
.padding-bot-reset {
  padding-bottom: 0;
}
.padding-right-reset {
  padding-right: 0;
}
.padding-left-reset {
  padding-left: 0;
}
.no-padding {
  margin: 0;
}

// Display
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.display-none {
  display: none;
}
.width-full {
  width: 100%;
}

// Media queries
// -------------------------
@media only screen and (min-width: $screen-sm) {
  
  // Margins
  .margin {
    margin: 30px;
  }
  .margin-top{
    margin-top: 30px;
  }
  .margin-top-md{
    margin-top: 20px;
  }
  .margin-top-sm{
    margin-top: 15px;
  }

  .margin-bot{
    margin-bottom: 30px;
  }
  .margin-bot-md{
    margin-bottom: 20px;
  }
  .margin-bot-sm{
    margin-bottom: 15px;
  }

  .margin-left{
    margin-left: 30px;
  }
  .margin-left-md{
    margin-left: 20px;
  }
  .margin-left-sm{
    margin-left: 15px;
  }

  .margin-right{
    margin-right: 30px;
  }
  .margin-right-md{
    margin-right: 20px;
  }
  .margin-right-sm{
    margin-right: 15px;
  }

  .margin-v {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .margin-v-md {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .margin-v-sm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .margin-h {
    margin-left: 30px;
    margin-right: 30px;
  }
  .margin-h-md {
    margin-left: 20px;
    margin-right: 20px;
  }
  .margin-h-sm {
    margin-left: 15px;
    margin-right: 15px;
  }

  // Padding
  .padding {
    padding: 30px;
  }
  .padding-top{
    padding-top: 30px;
  }
  .padding-top-md{
    padding-top: 20px;
  }
  .padding-top-sm{
    padding-top: 15px;
  }

  .padding-bot{
    padding-bottom: 30px;
  }
  .padding-bot-md{
    padding-bottom: 20px;
  }
  .padding-bot-sm{
    padding-bottom: 15px;
  }

  .padding-left{
    padding-left: 30px;
  }
  .padding-left-md{
    padding-left: 20px;
  }
  .padding-left-sm{
    padding-left: 15px;
  }

  .padding-right{
    padding-right: 30px;
  }
  .padding-right-md{
    padding-right: 20px;
  }
  .padding-right-sm{
    padding-right: 15px;
  }

  .padding-v {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .padding-v-md {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padding-v-sm {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .padding-h {
    padding-left: 30px;
    padding-right: 30px;
  }
  .padding-h-md {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-h-sm {
    padding-left: 15px;
    padding-right: 15px;
  }
}
