// Variables
// -----------------------------

// Colors
$pink: #E72D9E;
$pink-medium: #f246b4;
$pink-light: #ff99cc;
$pink-lightest: #FDD9DA;
$pink-gift: #ffddf8;
$pink-shopper: #f6eaea;
$violet-red : #ff3f7f;
$blue: #e6f1f5;
$red: #db2929;
$white: #FFFFFF;
$gold-shopper: #806748;
$gray-lightest: #f2f2f2;
$gray-light: #dddddd;
$gray-medium: #767676;
$gray-dark: #555555;
$gray-darkest: #333333;
$black: #000000;
$green: #39b77e;	
$twitter: #1DA1F2;
$facebook: #3B5998;
$facebook-messenger: #0084FF;
$instagram: #262626;
$youtube-red: #CD201F;
$pinterest: #BD081C;
$snapchat: #fef731;
$whatsapp: #64b55e;
$gmail: #dd4b39;
$hotmail-outlook: #0072c6;
$yahoo: #6b0094;
$not-basic-beige: #f4e7d7;
$bright-green: #21ca4d;
$dark-blue: #216DB9;
$gold-brown: #D2B797;
$dark-brown: #19120e;

// Screen sizes for media queries
$screen-galaxys5-portrait: 360px !default;
$screen-iphone5-portrait: 320px !default;
$screen-iphone5-landscape: 568px !default;
$screen-iphone6-portrait: 375px !default;
$screen-iphone6-landscape: 667px !default;
$screen-iphone6plus-portrait: 414px !default;
$screen-iphone6plus-landscape: 736px !default;
$screen-xs: 480px !default; //larger phones
$screen-sm: 768px !default; //tablet
$screen-md: 992px !default; //desktop
$screen-lg: 1200px !default; //wide desktop
$screen-xlg: 1600px !default; //extra wide desktop
