@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.product-container{
  padding-top: 90px;
  .contact-us-icon{
    @include font-size(30px);
  }
  .product-info{
    z-index: -1;
  }
}
// Media queries
// -------------------------
@media only screen and (min-width: $screen-sm) {
  .product-container{
    padding-top: 170px;
  }
}
