@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.card-container{
  @include flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  width: calc(100% - 30px);
  margin: 0 15px 15px;
  flex-direction: column;
  .card-content{
    position: absolute;
    top: 20px;
  }
  .review-img{
    @include avatar-basic(150px,150px);
  }
}

// Media queries
// -------------------------
@media only screen and (min-width: $screen-sm) {
  .card{
    width: calc(33.33% - 30px);
  }
}
