@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.card-container{
  @include flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  width: calc(100% - 30px);
  margin: 0 15px 15px;
  flex-direction: column;
  &:hover{
    @include animation(wobble-hor-bottom 1s both);
  }
  .card-content{
    position: absolute;
    top: 20px;
    color: $black;
  }
}

// Media queries
// -------------------------
@media only screen and (min-width: $screen-sm) {
  .card{
    width: calc(30% - 10px);
  }
}

@media only screen and (min-width: $screen-md) {
  .card{
    margin: 0;
  }
}
