@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.contact-us-map{
  width: 100vw;
  object-fit: cover;
}
.contact-us-section{
  .contact-us-info{
    color: $black;
    background: $white;
    border-radius: 2px;
    overflow: hidden;
    @include box-shadow(1px 0px 20px 20px rgba(0, 0, 0, 0.5));
  }
  .contact-us-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
    @include avatar-basic(70px, 70px);
    background-color: $black;
    color: $white;
  }
}
.social-media-icons{
  .fab{
    @include font-size(50px);
    width: 25%;
    text-align: center;
  }
}

@media only screen and (min-width: $screen-sm) {
  .contact-us-map{
    opacity: 0.4;
    height: 100vh;
  }
  .contact-us-section{
    @include flexbox();
    justify-content: center;
    align-items: center;
    .contact-us-info{
      width: 720px;
    }
  }
}
