@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
@import "./header-main.scss";

.nav-bar-mobile{
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
  li{
    border-bottom: 1px solid $gray-light;
    padding-left: 20px;
  }
}
