@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
@import "./header-main.scss";

.nav-bar{
  @include vertical-align-content();
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $black;
  color: $white;
  z-index: 1;
  opacity: 0.9;
}
