@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.nav-bar-desktop{
  justify-content: center;
  align-items: center;
  background-color: $white;
  z-index: 1;
  li{
    display: inline-flex;
    margin: 0 25px;
  }
}
