@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.pre-loader-wrapper{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background: $black;
  background: url('../../../img/pre-loader-background.jpg') no-repeat fixed center;
  position: fixed;
  z-index: 3;
  @include animation(swing-out-left-fwd 3s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1s both);
  .tag-line{
    position: absolute;
    top: 30%;
    left: 50%;
    @include transform(translateX(-50%));
    letter-spacing: 15px;
  }
  .bar{
    border: 2px solid $white;
  }
  .logo{
    @include animation(focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both);
  }
}

// Media queries
// -------------------------
@media only screen and (min-width: $screen-sm) {
  .pre-loader-wrapper{
    .logo{
      width: 400px;
    }
  }
}
